## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Import Data

In [6]:
#path to main folder
path = r'C:\Users\steve\Documents\Olist Marketplace Analysis'

# import categories translation file
categories_df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'product_category_name_translation.csv'), index_col = False)

## Analysis

#### 01. Content + Shape

In [8]:
categories_df.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [10]:
categories_df.shape

(71, 2)

In [12]:
categories_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB

In [14]:
categories_df.describe()

       product_category_name product_category_name_english
count                     71                            71
unique                    71                            71
top             beleza_saude                 health_beauty
freq                       1                             1

### CONSISTENCY CHECKS

#### 01. Mixed-Type Data

In [16]:
# check if there are any mixed-type columns
for col in categories_df.columns.tolist():
    weird = (categories_df[[col]].map(type) != categories_df[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (categories_df[weird]) > 0:
        print(col)

**No Mixed Data**

#### 02. Missing Values

In [18]:
# returns number of missing data by column
categories_df.isnull().sum()

product_category_name            0
product_category_name_english    0
dtype: int64

**No Missing Values**

#### 03. Duplicates

In [20]:
# creates a subet containing only the full duplicates
df_dups = categories_df[categories_df.duplicated()]
df_dups

Empty DataFrame
Columns: [product_category_name, product_category_name_english]
Index: []

**No full duplicates**

### Export Data

In [23]:
categories_df.to_csv(os.path.join(path, '02 Data', 'Prepared Data','categories_checked.csv'))